{% include 'banner-gsap-snippet' %}
 
{% schema %}
{
  "name": {
    "cs": "Novinky",
    "da": "Nyhedsbrev",
    "de": "Newsletter",
    "en": "Banner Animation",
    "es": "Boletín",
    "fi": "Uutiskirje",
    "fr": "Newsletter",
    "it": "Newsletter",
    "ja": "ニュースレター",
    "ko": "뉴스레터",
    "nb": "Nyhetsbrev",
    "nl": "Nieuwsbrief",
    "pl": "Newsletter",
    "pt-BR": "Newsletter",
    "pt-PT": "Newsletter",
    "sv": "Nyhetsbrev",
    "th": "จดหมายข่าว",
    "tr": "Bülten",
    "vi": "Bản tin",
    "zh-CN": "新闻通讯",
    "zh-TW": "電子報"
  },
  "blocks":[
    {
      "type": "Text",
      "name": "Animation Text",
      "settings":[
          {
            "type": "text",
            "id": "title_text",
            "label": "Title",
            "default": "Title Here",
            "info": "Optional",
            "placeholder": "Title Here"
          },
          {
            "type": "richtext",
            "id": "description_text",
            "label": "Description",
            "default": "<p>Description Here</p>"
          },
          {
            "type": "richtext",
            "id": "description_text2",
            "label": "Add More"
          }
      ]
    }
   ]
  ,
  "presets": [
    {
      "name": {
        "cs": "Banner Animation",
        "da": "Banner Animation",
        "de": "Banner Animation",
        "en": "Banner Animation",
        "es": "Banner Animation",
        "fi": "Banner Animation",
        "fr": "Banner Animation",
        "it": "Banner Animation",
        "ja": "Banner Animation",
        "ko": "Banner Animation",
        "nb": "Banner Animation",
        "nl": "Banner Animation",
        "pl": "Banner Animation",
        "pt-BR": "Banner Animation",
        "pt-PT": "Banner Animation",
        "sv": "Banner Animation",
        "th": "Banner Animation",
        "tr": "Banner Animation",
        "vi": "Banner Animation",
        "zh-CN": "Banner Animation",
        "zh-TW": "Banner Animation"
      },
      "category": {
        "cs": "Obrázek",
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pl": "Obraz",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "tr": "Görsel",
        "vi": "Hình ảnh",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      }
    }
  ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
